body{

	background: grey;
	margin:0;

}

	
.header{
margin:0px;
	background:#bcfff3 ;
	color:black ;
	padding: 10px;

}
img {
	width:100%;
	height: 50px;
}
.text_container , .addContainer {

	    background-color: #fff58e;
    width: 30%;
    height: 200px;
    border: 1px solid black;
    overflow: scroll;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    clear: none;
	
}

.text_container:hover {
	background: #fffc6b;
	

}

.btn {
	margin:0px;

	background: green;
    padding: 0px;
	height: 50px;
	position: relative;

}
.rmBtn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    position: absolute;
width: 50%;
}
.eBtn , #nMB{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%;
    border-right: 1px solid #459148;

}
#nMB { 
    width: 100%;
    }


.eBtn:hover , .rmBtn:hover ,#nMB:hover {
border:1px solid #459148;
background-color: #459148;


}

#memo_container {
	background: #5eb2a3;
	border:1px solid #8fefde; 
	padding: 2%;
	overflow:auto;
}

.textdiv {
    clear: both;
	padding: 2%;
	overflow: auto;
	

}
.addContainer{
	outline-style: dashed;
	outline-color: black;
	outline-width: 2px;
}



	
